*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.consol img{
    width: 480px;
    height: 500px;
    margin-right: 100px;
}
.suku img{
    width: 100%;
}
.according{
    font-family: 'Roroto', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}
.section{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}
.conter{
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 1.1.5rem;
}
.according-item{
    margin-bottom: 1rem;
    box-shadow: .5rem 2px solid .5rem rgba(f,f,f,.1);
}

.according-link{
    font-size: 1.5rem;
    color: rgba(0, 0, 0,.8);
    text-decoration: none;
    background-color: #e6e9ed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
}

.according-link::before{
    content: '';
    width: 10px;
    height: 60px;
    background-color: #DB4745;
    border-radius: 4px;
}

.according-link i{
    color: red;
    padding: .5rem;
}
.according-link .fa-remove{
    display: none;
}
.gold img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 10px solid #fff;
}
.gold .h1-p{
    color: #333;
    font-size: 20px;
    margin-bottom: 30px;
}
.row-mu img{
    margin-bottom: 30px;
    width: 60px;
    height: 60px;
}
.Bm-asik{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 10px solid #fff;
}
.footer-section{
    background-color: #122067;
}
.from-box{
    padding: 5px;
    border-radius: 5px;
    background: #ececec;
}
.from-box input{
    font-size: 18px;
    color: #000;
    padding: 15px 10px;
    border: none;
    outline: none;
    background-color: #ececec;
}
.from-box button{
    color: #fff;
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background: #DB4745;
    cursor: pointer;
    transition: 0.3s;
}
.divider{
    width: 83px;
    height: 2px;
    background-color: #000;
    display: inline-block;
}
.divider:hover{
    color: #DB4745;
}
.me h1 img{
    height: 30px;
    margin-bottom: 7px;
}
.dividerrr{
    width: 40px;
    height: 2px;
    background-color: #000;
    display: inline-block;
}

.line{
    text-align: right;
}
nav a{
    content: "";
    position: relative;
    color: #a0a0a0;
    font-size: 18px;
    letter-spacing: 0.5s;
}
nav a:after{
    content: "";
    position: absolute;
    background-color: #DB4745;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    translate: 0.3s;
}
nav a:hover:after{
    width: 100%;
}
.menu a{
    text-decoration: none;
    color: #122067;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
}
.logo h1{
    text-shadow: 2px 2px 2px #a0a0a0;
}
.menu a:before{
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 3px;
    background-color: #000;
    transition: all 0.5s linear;
}
.menu a:hover:before{
    width: 100%;
}
